@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 100vh;
}


@media (min-width: 480px) {
  :root {
    --vh: 100vh;
  }
}

body {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background: url('/배경.png') no-repeat center center;
  background-size: cover;
}
